{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/hopper/header.png",
      "fileBody" : "/interface/scripted/hopper/body.png",
      "fileFooter" : "/interface/scripted/hopper/footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [63, 107],
      "dimensions" : [1, 1],
      "spacing" : [19, 20],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [90, 48],
      "slotOffset" : 1,
      "dimensions" : [1, 1],
      "spacing" : [0, 0],
      "backingImage" : "/interface/scripted/hopper/emptyUpgrade.png"
    },
    "switchDirection" : {
      "type" : "button",
      "base" : "/interface/scripted/hopper/button.png",
      "hover" : "/interface/scripted/hopper/buttonhover.png",
      "press" : "/interface/scripted/hopper/buttonhover.png",
      "caption" : "Switch Direction",
      "position" : [22, 28]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [125, 145]
    }
  },

  "scriptWidgetCallbacks" : [
    "onInputUpgradeRight",
    "onInputUpgrade",
    "switchDirection"
  ],

  "scripts" : ["/interface/scripted/hopper/hoppergui.lua"],
  "scriptDelta" : 0
}